
.articles_item{
    margin-bottom: 10px;
    padding: 15px;
    /*width: 50%;*/
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.articles{
   display: flex;
    /*margin-left: 30%;*/
    
}
.articles_title{
    font-size: 30px;
    text-align: center;
}

